@media only screen and (max-width: 884px) {
  footer
  {
    height: 525px;
  }
  footer>.contact_right
  {
    float: left;
    margin-left: 2%;
  }
}

@media only screen and (min-width: 884px) {
  footer
  {
    /*display: none;*/
    height: 380px;
  }
  footer>.contact_right
  {
    float: right;
    margin-right: 2%;
  }
}
footer
{
  filter: blur(0) opacity(100%);
  background-color: #323232;
  color: white;
}
footer>.contact_left
{
  width: 501px;
  float: left;
  margin-left: 2%;
  margin-bottom: 20px;
  display: block;
  background-color: #323232;
}
footer>.contact_right
{
  background-color: #323232;
  display: block;
}
footer>p
{
  margin-top: 4px;
  text-align: center;
}
footer>.contact_right>p:first-child
{
  font-size: 24px;
  color: white;
}
footer>.contact_right>p>a
{
  color: white;
}
footer>.contact_left>form>textarea
{
  width: 500px;
  height: 150px;
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 8px;
  resize: none;
}
footer>.contact_left>form>input
{
  width: 500px;
  border-radius: 10px;
  margin-top:4px;
}
footer>.contact_left>form>input:last-child
{
  width: 100px;
  float: right;
}
