.navbar{
  min-width: 100%;
  color: white;
  background-color: #323232;
  list-style-type: none;
  font-size: 20px;
  font-style: italic;
  padding: 0;
  filter: none;
}
.media
{
  padding: 10px;
}
.media>img
{
  transition: all .4s ease;
  filter: invert();
  margin:0;
  width: 30px;
}
.media>img:hover
{
  transition: all .4s ease;
  filter:none;
}
.navbar>p
{
  margin-left: 50px;
}
.navbar>ul
{
  right: 0;
}
.navbar>ul>li
{
  margin-right: 50px;
  list-style-type: none;
}
.navbar>ul>li>a>img{
  width: 25px;
  height: 25px;
  border: 1px;
  border-color: none;
  border-radius: 10px;
}
