@media only screen and (max-width: 1000px) {
  .body_style
  {
    padding: 10px;
  }
  .body_style>.about_me
  {
    padding:10px;
    min-height: 100%;
    display:block;
  }
  .body_style>.my_story
  {
    margin-top: 10px;
    display:block;
    top: 100px;
    width: 100%;
  }
}

@media only screen and (min-width: 1001px) {
  .body_style
  {
    padding: 50px;
  }
  .body_style>.about_me
  {
    padding:10px;
    width: 30%;
    min-height: 100%;
  }
  .body_style>.my_story
  {
    position: absolute;
    right: 50px;
    top: 125px;
    float: right;
    width: 62.5%;
  }
}

.body_style
{
  filter: none;
  min-width: 100%;
  position: static;
}
.body_style>.about_me, .body_style>.my_story
{
  padding-left: 20px;
  padding-right: 20px;
  filter: blur(0) opacity(100%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 30px 0px rgba(66, 68, 90, 1);
}
.body_style>.about_me>p>img
{
  border: 1px solid #323232;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-bottom: 5px;
}
.body_style>.about_me>p>.about_me-list>ul
{
  text-align: center;
  list-style-position: inside;
}
.body_style>.about_me>.about_me-list
{
  text-align: left;
}
.body_style>.my_story>ul
{
  padding: 0;
  margin: 0;
}
.body_style>.my_story>ul>p
{
  display: inline-block;
  text-align: left;
}
.body_style>.my_story>ul>li
{
  list-style-type: none;
}
.body_style>.my_story>ul>li>h5
{
  font-style: italic;
}
.small-info
{
  text-align: right;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  opacity: 75%;
  font-style: italic;
  padding-bottom: 5px;
}

.icon-list
{
  width: 60px !important;
  border: none !important;
}
